# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Custom
.settings
bin
gradle
build.gradle
changelog.txt
CREDITS.txt
gradle.properties
gradlew
gradlew.bat
LICENSE.txt
runClient.launch
runData.launch
runServer.launch
src/generated/*
src/test/*
src/main/resources/assets/emomod/textures/block/*
src/main/resources/assets/emomod/textures/entity/*
src/main/resources/assets/emomod/textures/environment/*
src/main/resources/assets/emomod/textures/gui/*
src/main/resources/assets/emomod/textures/item/*
src/main/resources/assets/emomod/textures/misc/*
src/main/resources/assets/emomod/textures/models/*
